.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  display: inline-block;
  width: 100%;
  margin: 10px;
  gap: 20px;
}
.card img {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
}

.new-arrivals {
  display: flex;
  justify-content: space-around;
}
h3,
h1 {
  font-family: "Open sans";
  color: rgb(91, 91, 91);
}
.card3 {
  display: none;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .card3 {
    display: block;
  }
}
