.button {
    font-family: 'Roboto';
    font-size: 1.2rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-block: 2rem;
    color: var(--button-text-color);
    text-align: center;
}
.btn-orange {
background-color: var(--secondary-color);
}
.btn-orange:hover {
background-color: var(--on-hover-secondary-button-color);
}
.btn-green {
background-color: var(--tertiary-color);
}
.btn-green:hover {
background-color: var(--on-hover-tertiary-button-color);
}
.btn-blue {
background-color: var(--primary-color);
color:var(--nav-active-color);
}
.btn-blue:hover {
background-color: var(--on-hover-size-button-color);
color:var(--nav-active-color);
}



@media (min-width: 768px)  {
.button{
    font-size: 1.125rem;
}

}
@media (min-width: 1025px) {
    .button {
        font-size: 1.25rem;
    }

}
