.button {
    font-family: 'Roboto';
    font-size: 1.2rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-block: 2rem;
    color: var(--button-text-color);
    text-align: center;
}
.collection-button-container, .seemore-button-container  {
    display: flex;
    justify-content: center;
}
.collection-button, .seemore-button {
    background-color: var(--secondary-color);
}
.collection-button:hover, .seemore-button:hover {
    background-color: var(--on-hover-secondary-button-color);
}
.pay-order-button {
  background-color: var(--tertiary-color);
}
.pay-order-button:hover {
  background-color: var(--on-hover-tertiary-button-color);
}
.track-order-button {
    background-color: var(--tertiary-color);
}
.track-order-button:hover {
    background-color: var(--on-hover-tertiary-button-color);
}
.return-to-homepage-button {
    background-color: var(--secondary-color);
}
.return-to-homepage-button:hover {
    background-color: var(--on-hover-secondary-button-color);
}
.addbutton-cart {
    background-color: var(--tertiary-color);
}
.addbutton-cart:hover {
  
background-color: var(--on-hover-tertiary-button-color);
}
.continue-to-checkout-button {
    background-color: var(--secondary-color);
}
.continue-to-checkout-button:hover {
    background-color: var(--on-hover-secondary-button-color);
}



@media (min-width: 768px)  {
.button{
    font-size: 1.125rem;
}

}
@media (min-width: 1025px) {
    .button {
        font-size: 1.25rem;
    }

}
