.coming-soon-container {
  flex-direction: column;
  text-align: center;

}

.return-to-homepage.button{
  background-color: var(--secondary-color);
  
}
.return-to-homepage.button:hover{
  background-color: var(--on-hover-secondary-button-color);
  
}

.return-to-homepage-container {
  margin-block:5rem;
}


.coming-soon-main {
  display: flex;
  justify-content: center
}
.coming-soon-container img {
margin-block:2rem;
width:10rem;
height:10rem;



}