
.confirmation-summary-container { 
  display:flex;
  flex-direction: column;
  justify-self: center;
  gap:1rem;
}
.order-confirmation-container {
  order:1;
}
.order-summary-container {
  order:2;
}
.image-text-summary-container {
  display:flex;
}
.product-summary-container {
  margin-bottom:2rem;
}
.image-summary-container img {
  width: clamp(10rem,10vw,12rem);
}
.product-summary-container {
  flex-wrap: nowrap;
}
.order-summary-text-container, .order-confirmation-text-container {
  margin-block: 2rem;
}
.billing-address-container {
  line-height: 2.5rem;
}
.scott-header-container {
  margin-bottom: 2rem;
}
.totalsum-container {

  display:flex;
  justify-self: center;
  margin-top: 3rem;
  justify-content: space-between;
  gap:2rem;
}
.horizontal-hr-order-summary{
  margin-top: 2rem;
}
.return-button-container {
  display:flex;
  justify-self: center;
}
@media (min-width: 768px) { 
.confirmation-summary-container {
  display:flex;
  flex-direction: row;
}

.confirmation-summary-container { 
gap:6rem;


}
} 