
.klarna-svg {
  height: 20px;
}

.footer-links {
  text-decoration: none;
}

.footer-links,
p {
  color: var(--nav-desktop-text-color);
}
.footer-links,
a {
  color: var(--nav-desktop-text-color);
}

.footer-links,
a:hover {
  color: var(--nav-desktop-text-color);
}
i {
  font-size: 1.7rem;
}

.copyright-footer-text {
  font-size: 1rem;
}

.footer-logo {
  width: 140px;
  align-self: center;
}

.container-blue {
  background-color: var(--primary-color);
}
.container-text {
  display: flex;
  flex-direction: column;
}

.container-whitespace {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.pay-icons {
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.some-icons {
  color: rgb(25, 59, 59);
  display: flex;
  justify-content: end;
  vertical-align: bottom;
}

#copyright-text {
  font-size: 0.7rem;
}

.about-us-info,
.contact-us-info {
  padding: 25px;
}

#copyright-text {
  align-self: center;
  margin-top: 2rem;
}

/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .container-text {
    flex-direction: row;
    justify-content: center;
  }

  .pay-icons {
    justify-self: end;
    padding-inline: 2rem;
  }
  .pay-container {
    position: relative;
  }

  .some-icons {
    position: relative;
    top: 1rem;
    right: 2rem;
  }
}
