
.klarna-svg {
  height: 1.2rem;
}
.contact-us-header {
  color: var(--nav-desktop-text-color);
  font-weight: 500;
}
.contact-us-info {
  display:flex;
  flex-direction: column;
}

.contact-us-info p {
  color: var(--nav-desktop-text-color);
}
.contact-us-info a {
  color: var(--nav-desktop-text-color);
}
.about-us-info a {
  color: var(--nav-desktop-text-color);
}
.about-us-info a:hover, .contact-us-info a:hover  {
  color: var(--nav-active-color);
}
i {
  font-size: 1.7rem;
}

.copyright-footer-text {
  font-size: 1rem;
}

.footer-logo-img img{
  width: 140px;
 justify-self: center;
 display:block;

}

.container-blue {
  background-color: var(--primary-color);
}
.container-text {
  display: flex;
  flex-direction: column;
}

.container-whitespace {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.pay-icons {
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pay-icons a {
  color: var(--nav-active-color);
  text-decoration: none;
}


.some-icons {
  color: var(--primary-color);
  display: flex;
  justify-content: end;
  vertical-align: bottom;
}
.some-icons a {
  text-decoration: none;
color: var(--primary-color);
}

#copyright-text {
  font-size: 0.7rem;
}

.about-us-info,
.contact-us-info {
  padding: 25px;
}

#copyright-text {
  align-self: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .container-text {
    flex-direction: row;
    justify-content: center;
  }

  .pay-icons {
    justify-self: end;
    padding-inline: 2rem;
    
  }
  .pay-container {
    position: relative;
  }

  .some-icons {
    position: relative;
    top: 1rem;
    right: 2rem;
  }
    .pay-icons i {
    font-size: 1.9rem;
  }
  .pay-icons img {
    width: 1.9rem;
    height: 1.9rem;
  }
  .some-icons i {
    font-size: 1.9rem;
  }

}
@media (min-width: 1025px) {
  .pay-icons i {
    font-size: 3rem;
  }
  .pay-icons img {
    width: 2.2rem;
    height: 2.2rem;
  }
  .some-icons i {
    font-size: 2.6rem;
  }
}
