* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #113340; 
  --nav-active-color: #FFFFFF;
  --main-text-color: #5C5C5C;
  --secondary-color: #FF8B38;
  --tertiary-color: #96D35F;
  --button-text-color: #212121;
  --on-hover-size-button-color: #296C86;
  --on-hover-secondary-button-color: #FFAF75;
  --on-hover-tertiary-button-color: #C0FA8B;
  --inputfield-focus-color: #0E7490; 
  --nav-desktop-text-color: #d2d2d2;
  --nav-desktop-text-color-focus-hover: #fffff4;
}

h1 {
  font-family: "Open sans",'Helvetica';
  color: var(--main-text-color);
  font-size: 1.5rem;
}
h2 {
  font-family: "Open sans";
 font-size: 1.125rem;
 color: var(--main-text-color);

}
h3 {
  font-family: "Open sans";
 font-size: 1.125rem;
 color: var(--main-text-color);

}
p {
  font-family: "Open sans";
  font-size: 1rem;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  font-family: "Open sans";
}


li {
  list-style-type: none;
}
.button {
    font-family: 'Roboto';
    font-size: 1.2rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--button-text-color);
    text-align: center;
}
.btn-orange {
background-color: var(--secondary-color);
}
.btn-orange:hover {
background-color: var(--on-hover-secondary-button-color);
}
.btn-green {
background-color: var(--tertiary-color);
}
.btn-green:hover {
background-color: var(--on-hover-tertiary-button-color);
}
.btn-blue {
background-color: var(--primary-color);
color:var(--nav-active-color);
}
.btn-blue:hover {
background-color: var(--on-hover-size-button-color);
color:var(--nav-active-color);
}

input:focus {
  border-style: solid;
  border-color: var(--main-text-color);
  outline: none;
}

.definition-list {
  font-family: 'Open sans';

}
.order-total-dl  {
  font-weight: 700;
  color: var(--main-text-color);
  display:flex;
  justify-content: space-between;
  margin:0;
  padding:0;
}
.order-label {
  font-size: 1.125rem;
  color: var(--main-text-color);
  margin:0;
}
.order-value {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-text-color);
  margin:0;
}
.column {
  display:flex;
  flex-direction: column;
  text-align: center;
}



@media (min-width: 768px) {
h1 {
  font-size: 2.125rem;
}
h2 {
 font-size: 1.5rem;
}
h3 {
 font-size: 1.25rem;

}
p, a {
  font-size: 1.125rem;
}
.order-label {
  font-size: 1.25rem;
}
.order-value {
  font-size: 1.5rem;
}
.button{
    font-size: 1.125rem;
}


}
@media (min-width: 1025px) {
h1 {
  font-size: 2.125rem;
}
h2 {
 font-size: 1.875rem;
}
h3 {
 font-size: 1.5rem;

}
p, a {
  font-size: 1.25rem;
}
    .button {
        font-size: 1.25rem;
    }



}
