* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #113340; 
  --nav-active-color: #FFFFFF;
  --main-text-color: #5C5C5C;
  --secondary-color: #FF8B38;
  --tertiary-color: #96D35F;
  --button-text-color: #212121;
  --on-hover-size-button-color: #296C86;
  --on-hover-secondary-button-color: #FFAF75;
  --on-hover-tertiary-button-color: #C0FA8B;
  --inputfield-focus-color: #0E7490; 
  --nav-desktop-text-color: #d2d2d2;
  --nav-desktop-text-color-focus-hover: #fffff4;
}

h1 {
  font-family: "Open sans";
  color: var(--main-text-color);
  font-size: 1.5rem;
}
h2 {
  font-family: "Open sans";
 font-size: 1.125rem;
 color: var(--main-text-color);

}
h3 {
  font-family: "Open sans";
 font-size: 1.125rem;
 color: var(--main-text-color);

}
p {
  font-family: "Open sans";
  font-size: 1rem;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  font-family: "Open sans";
  color: var(--nav-active-color);
}


li {
  list-style-type: none;
  color: solid white;
}



input:focus {
  border-style: solid;
  border-color: var(--main-text-color);
  outline: none;
}


@media (min-width: 768px) {
h1 {
  font-size: 2.125rem;
}
h2 {
 font-size: 1.5rem;
}
h3 {
 font-size: 1.25rem;

}
p, a {
  font-size: 1.125rem;
}


}
@media (min-width: 1025px) {
h1 {
  font-size: 2.125rem;
}
h2 {
 font-size: 1.875rem;
}
h3 {
 font-size: 1.5rem;

}
p, a {
  font-size: 1.25rem;
}



}
