.rainy-days-logo {
  width: 140px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 1rem;
}

.header i {
  font-size: 1.2rem;
  color: rgb(68, 68, 68);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-bar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.2rem;
  background-color: var(--primary-color);
}
.searchbar {
  width: 12rem;
  border-radius: 0.5rem;
  border-style: solid;
}
.fa-magnifying-glass {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.searchbar-desktop {
  display: none;
}

.nav-container {
  background-color: rgb(255, 255, 255);
}
.fa-magnifying-glass-desktop {
  display: none;
}
/* .............. iPads (tablets) - Landscape ............ */
@media (min-width: 768px) {
  .searchbar-desktop {
    display: block;
  }
  .rainy-days-logo {
    order: 1;
  }
  .searchbar-desktop {
    order: 2;
  }
  .fa-user {
    order: 3;
  }
  .fa-bag-shopping {
    order: 4;
  }
  .search-bar-div {
    display: none;
  }
  .searchbar {
    display: none;
  }
  .nav-container {
    background-color: var(--primary-color);
    padding-inline: 3rem;
    padding-block: 0.6rem;
  }
  .home-page,
  .mens-page,
  .womens-page {
    color: rgb(190, 190, 190);
  }
}

/* ............ Desktops ................*/
@media (min-width: 1025px) {

  }

