.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
  gap: 1rem;
}
.card-info {
  margin-block: 2rem;
  margin-inline: 1rem;
  line-height: 2.5rem;
}
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.new-arrivals {
  display: flex;
  justify-content: space-around;
}

.card3 {
  display: none;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.hero-section {
  position: relative;
  display: flex;
}
.hero-text {
  position: absolute;
  color: white;
  align-self: center;
  margin-left: 2rem;
}

.new-arrivals-title {
  font-weight: 300;
  margin: 2rem;
}
.our-products-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 2rem;
}
.our-products-text,
.our-products-title {
  line-height: 2;
  /* margin-bottom: 3rem; */
  font-weight: 300;
}
.our-products-text,
.our-products-title {
  margin: 2rem;
}

.text-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .card3 {
    display: block;
  }
  .hero-text {
    font-size: 3rem;
  }
  .our-products-text {
    max-width: 70ch;
  }
  .text-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    font-size: 1.2rem;
  }
    .new-arrivals {
    margin-inline: 5rem;
  }
}
@media (min-width: 1025px) {
  .new-arrivals {
    margin-inline: 15rem;
  }
.hero-text {
  font-size: 5rem;
}
}
