
.product-container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    
}
.image-column{
    display: flex;
    flex:1;
    flex-direction: row;
    border: 1px solid red;
    justify-content: space-evenly;
    
}
.image-column img {
    width:8rem;
    height: auto;
    display: flex;
    order: 1;

}
.product-image img {
    width:100%;
}
.product-image {
    display:flex;
    flex:2;
    align-items: center;
    border: 1px solid red;
    order: 2;
    max-width: 100%;
    height: auto;
    display:block;
}
.product-info-container {
    display:flex;
    flex:2;
    line-height: 3rem;
    border: 1px solid red;
    order: 3;

}
.sm-button, .ml-button {
    background-color: var(--primary-color);
    color: var( --nav-active-color);
    margin-block: 1rem;
    font-size: 1rem;
}
.addtocart-button {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
}

.product-colors{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 border: 1px solid red;
}
.color{
    width: 1.5rem;
    height:1.5rem;
    border-radius: 15%;
}




@media (min-width: 768px)  {

}


@media (min-width: 1025px) {

.product-container{
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.image-column{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    flex:1;
    max-width: 15rem;
}
.image-column img{
    
    height: auto;
    width:100%;
    
}
.product-image {
    display:flex;
    align-items: center;
    border: 1px solid red;
    height: auto;
    width: 100%;
    flex:2;
}

.product-info-container {
    line-height: 3rem;
    border: 1px solid red;
    flex:2;
    font-size: 1.5rem;
}




}
