.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}
.products-main {
padding-inline: 1rem;
}
.shop-by-category-container {
  font-family: 'Open sans';
  display:flex;
  justify-content: flex-end;
}
.shop-by-products-form {
font-size: 1rem;
padding: 1rem 0.5rem 1rem 0.5rem;
border-radius: 0.2rem;
background-color: var(--secondary-color);
margin-bottom:2rem;
color: var(--button-text-color);
margin-inline: 1rem;
}

.sr-only {
  position:absolute;
  width: 1px;
  height:1px;
  padding: 0;
  margin:-1px;
  overflow:hidden;

}


@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
  }
.products-main {
  margin-inline: 3rem;
}

}
@media (min-width: 1025px) {
.products-main {
  margin-inline: 10rem;
}
 .grid {
    gap:15rem;
  }
}
