.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}


@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
  }
.products-main {
  margin-inline: 3rem;
}

}
@media (min-width: 1025px) {
.products-main {
  margin-inline: 10rem;
}
 .grid {
    gap:15rem;
  }
}
